/* loading */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* animation-ani01 */
@keyframes animate{

  0%,100%  {
    transform: translateZ(-100px);
  }
  50%  {
    transform: translateZ(100px);
  }
}

/* animaition-ani02 */
@keyframes animate1{

  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

@keyframes animate2{

  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-200%);
  }
}

@keyframes animate3{

  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}

@keyframes animate4{

  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(0%);
  }
}

@keyframes animate5{

  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color: #fff;
    text-shadow: 0 0 10px  #03bcf4,
                0 0 20px  #03bcf4,
                0 0 40px  #03bcf4,
                0 0 60px #03bcf4,
                0 0 80px  #03bcf4,
                0 0 160px  #03bcf4;
  }
}