
@keyframes float {
    0% {
        transform: translateY(-20%) rotate(15deg);
    }
    100% {
        transform: translateY(20%) rotate(15deg);
    }
}
@keyframes arrowEF {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes line-anim{
    to{
        stroke-dashoffset :0;
        opacity: 1;
    }
}
@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: #F6EAE8;
    }
}
@keyframes rightbounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: rotate(-90deg) translateY(0);
  }
  40% {
    transform: rotate(-90deg) translateY(-30px);
  }
  60% {
    transform: rotate(-90deg) translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(-10px);
  }
}

